webdrivermanager
alembic==1.4.2
altgraph==0.17
APScheduler==3.6.3
asn1crypto==1.3.0
astroid==2.4.1
atomicwrites==1.4.0
attrs==19.3.0
auto-py-to-exe==2.6.6
awsebcli==3.18.1
backcall==0.1.0
Beaker==1.11.0
beautifulsoup4==4.9.0
botocore==1.16.4
bottle==0.12.18
bottle-websocket==0.2.9
cement==3.0.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.1.2
colorama==0.4.3
cryptography==2.9.2
cssselect==1.1.0
dataclasses==0.6
decorator==4.4.2
Django==3.0.6
django-embed-video==1.3.2
docutils==0.16
dominate==2.5.1
easy-thumbnails==2.6
Eel==0.10.4
fast-autocomplete==0.6.0
finisher==0.1.11
Flask==1.0.3
Flask-Bootstrap==3.3.7.1
Flask-Classy==0.6.10
Flask-SQLAlchemy==2.4.0
FormEncode==1.3.1
future==0.16.0
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
howdoi==1.1.14
idna==2.7
importlib-metadata==0.18
ipython==7.6.1
ipython-genutils==0.2.0
isort==4.3.17
itsdangerous==1.1.0
jedi==0.14.0
Jinja2==2.10.1
jmespath==0.9.4
lazy-object-proxy==1.3.1
lxml==4.3.3
macholib==1.11
Mako==1.0.14
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.1.0
numpy==1.16.4
packaging==19.0
pandas==0.24.2
paperclip==2.2.1
parameterized==0.7.0
parso==0.5.0
passlib==1.7.1
pathspec==0.5.9
pefile==2018.8.8
pickleshare==0.7.5
Pillow==7.1.2
pre-commit
pluggy==0.12.0
progiter==0.1.0
prompt-toolkit==2.0.9
protobuf==3.7.1
py==1.8.0
pycparser==2.19
PyDbLite==3.0.4
PyDispatcher==2.0.5
Pygments==2.3.1
PyInstaller==3.6
pylint==2.3.1
PyMySQL==0.9.3
pyparsing==2.4.0
pyperclip==1.7.0
pyquery==1.4.0
pytest==5.0.0
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2018.9
PyYAML==5.3.1
redis==3.2.1
requests==2.20.1
requests-cache==0.4.13
selenium==3.141.0
semantic-version==2.5.0
six==1.11.0
soupsieve==1.9.2
SQLAlchemy==1.3.4
SQLAlchemy-Utils==0.34.1
SQLObject==3.7.2
termcolor==1.1.0
traitlets==4.3.2
typed-ast==1.4.1
tzlocal==1.5.1
urllib3==1.25.9
visitor==0.1.3
wcwidth==0.1.7
Werkzeug==0.15.4
whichcraft==0.5.2
wrapt==1.11.1
zipp==0.5.1