apscheduler
beaker
boltons
bs4
cryptography
fast-autocomplete
flask
flask-bootstrap4
Flask-Classy
flask-login
flask-sqlalchemy
mechanicalsoup
numpy
pandas
psycopg2
requests
sqlalchemy
SQLAlchemy-Utils
tqdm
werkzeug