alembic
apscheduler
beaker
boltons
bs4
cryptography
fast-autocomplete
flask==2.1.3
flask-bootstrap4
Flask-Classful
flask-login
flask-sqlalchemy==2.5.1
flask-talisman
gunicorn
mechanicalsoup
numpy
pandas
psycopg2
python-Levenshtein
requests
sqlalchemy
SQLAlchemy-Utils
tqdm
werkzeug==2.1.2