<thead>
<tr>
    <th scope="col"
        class="col"
        style="width: 40%">
        Sort by:
    </th>


    <th scope="col"
        class="col text-center"
{#            {% if sort=="value" %} bg-primary {% endif %}"#}
        style="width: 20%; display: table-cell"
{#        onclick="sort='value'; page=0; ownership='unowned'; updatePurchaseTable()"#}
    >
        Expected Value
    </th>
    <th scope="col"
        class="col text-center"
        style="width: 20%">
        Gold Cost
    </th>

    <th scope="col"
        class="col text-center bg-primary"
            {#            {% if sort=="efficiency" %} bg-primary {% endif %}"#}
        style="width: 20%; display: table-cell"
            {#        onclick="sort='efficiency'; page=0; ownership='unowned'; updatePurchaseTable()"#}
    >
        Purchase Efficiency ▼
    </th>

</tr>
</thead>