{% extends "base.html" %}

{% block title %} Purchase Values {% endblock %}


{% block inner_content %}
    {{ super() }}

    <div id="content-col" class="col-md-8 offset-md-2">

        <div id="purchase-table" class="text-center">
            <div class="space-t"></div>
            <table id="card-value" class="table vertical-align">
                {% include 'purchase_values/header.html' %}
            </table>
            {% include 'loading.html' %}
        </div>
        <div id="card-table-pagination" class="text-center row">
            <nav aria-label="Card values page">
                <ul id="pagination" class="pagination">
                    <li class="page-item">
                        <button onclick="page=0; updateCardTable()">
                            First
                        </button>
                    </li>

                    <li class="page-item">
                        <button onclick="page=page-1; updateCardTable()">
                            Previous
                        </button>
                    </li>
                    <li class="pagination-info">
                        <span id="current-page">1</span>
                    </li>
                    <li class="page-item"
                        onclick="page=page+1; updateCardTable()">
                        <button>Next</button>
                    </li>
                    <li class="page-item"
                        onclick="page=-1; updateCardTable()">
                        <button>Last</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>




{% endblock %}



{% block scripts %}
    {{ super() }}
    <script>
        let page = 0;
        let sort = "efficiency";
        let ownership = "unowned";

        function updatePurchaseTable() {
            $.get({
                url: "/purchases/values/" + page + "/" + sort + "/" + ownership,
            }).done(function (data) {
                $("#purchase-table").html(data);
                $("#current-page").html(page);
            }).fail(function (jqxhr, textStatus, error) {
                const err = jqxhr.status + ", " + textStatus + ", " + error;
                console.log("Request Failed: " + err);
                if (jqxhr.status === 401) {
                    window.location.replace("/login");
                } else {
                    $("#purchase-table").html("<h1>Something's gone very wrong.</h1>");
                }

            });
        }

        $(document).ready(updatePurchaseTable());

    </script>

{% endblock %}