<div id="card-values" class="pad-t pad-more">
    <table id="card-value" class="table">
        <thead>
        <tr>
            <th scope="col"
                class="col"
                style="width: 40%">
                <h4>Name</h4>
            </th>

            <th scope="col"
                class="col text-center"
                style="width: 20%; display: table-cell">
                <h4>Purchase Efficiency</h4>
            </th>

        </tr>
        </thead>
        {% if purchase_values.empty %}
            <h> No purchases found.</h>
        {% endif %}
        {% for _, display in purchase_values.iterrows() %}
            <tr>
                {% if display['type'] == "League" %}
                    {% set faq_link = "league" %}
                {% elif display['type'] == "Draft" %}
                    {% set faq_link = "draft" %}
                {% elif display['type'] == "Card Pack" %}
                    {% set faq_link = "card-pack" %}
                {% elif display['type'] == "Campaign" %}
                    {% set faq_link = "campaign" %}
                {% endif %}

                <td class="text-left">
                    {{ display['type'] }}
                    <a id="info-link"
                       href="{{ url_for("FaqView:index") }}#{{ faq_link }}"
                       style="margin:-3px">
                        <i class="fas fa-info-circle fa-md"></i>
                    </a>
                    : <strong><a href="{{ display['info_url'] }}">
                    {{ display['name'] }}
                </a></strong>
                </td>
                <td class="text-center">
                    <a tabindex="0"
                       class="btn btn-lg info-popover"
                       role="button"
                       data-toggle="popover"
                       data-trigger="focus"
                       title="Calculations"
                       data-content="Expected Value({{ '%0.2f' % display['value'] }})
/ Cost({{ '%0.0f' % display['gold_cost'] }})"
                       data-template='<div class="popover popover-info" role="tooltip">
                       <div class="arrow"></div>
                       <h3 class="popover-header"></h3>
                       <div class="popover-body"></div></div>'
                    >
                        {{ '%0.1f' % (display['value_per_gold']) }}
                    </a>
                </td>

            </tr>

        {% endfor %}
    </table>
</div>