<div id="card-values" class="pad-t pad-more">
    <table id="card-value" class="table">
        {% include 'purchase_values/header.html' %}
        {% if purchase_values.empty %}
            <h> No purchases found.</h>
        {% endif %}
        {% for _, display in purchase_values.iterrows() %}
            <tr>
                <td>
                    {{ display['name'] }}
                </td>



                <td class="text-center">
                    {{ '%0.0f' % display['value'] }}
                </td>

                <td class="text-center">
                    {{ '%0.0f' % (display['gold_cost']) }}
                </td>

                <td class="text-center">
                    {{ '%0.1f' % (display['value_per_gold']) }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
