<!doctype html>
{% extends "bootstrap/base.html" %}

<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Yeti Spy</title>
        {{ super() }}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='favicon.ico') }}">
        <nav class="navbar navbar-expand-md navbar-infiltrate navbar-dark">
            <a class="navbar-brand d-inline-block align-top" href="/">
                <img src="{{ url_for('static', filename='images/logo_zoom.png') }}"
                     style="height: 40px; margin-top: -10px">
                Yeti Spy
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#baseNavbar"
                    aria-controls="baseNavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="baseNavbar">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li>
                        <a href="{{ url_for('CardsView:index') }}"
                           class="nav-link text-white">
                            <i class="fas fa-clone"></i> Cards
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('PurchasesView:index') }}"
                           class="nav-link text-white">
                            <i class="fas fa-store"></i> Purchases

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#"
                           class="nav-link text-white"
                           data-toggle="modal"
                           data-target="#updateCollectionModal">
                            <i class="fas fa-redo"></i> Update Collection
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav
                flex-row justify-content-md-center justify-content-start flex-nowrap">
                    {% if not current_user.is_authenticated %}
                        <li class="navbar-item mr-2">
                            <a href="{{ url_for('LoginView:index') }}"
                               class=" nav-link">
                                Login
                            </a>
                        </li>
                        <li class="navbar-item">
                            <a href="{{ url_for('RegisterView:index') }}"
                               class="nav-link">
                                Register
                            </a>
                        </li>
                    {% endif %}

                    {% if current_user.is_authenticated %}
                        <li class="navbar-item">
                            <a href="/logout" class="nav-link">
                                Logout {{ current_user.name }}
                            </a>
                        </li>
                    {% endif %}

                </ul>


            </div>
        </nav>

        <div class="space-t hidden-xs"></div>
    {% endblock %}
</head>

<body>
{% block content %}
    {{ super() }}
    <div id="body-wrapper">
        <div class="container" style="background-color: black">
            {% include "update_collection.html" %}
            {% block inner_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
</body>

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='infiltrate.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"
          rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/a8de047042.js"
            crossorigin="anonymous"></script>
    {{ super() }}

{% endblock %}