{% extends "bootstrap/base.html" %}


{% block head %}
    <title>{% block title %}{% endblock %} - Yeti Spy</title>
    {{ super() }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=UA-177370739-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-177370739-1');
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='images/logo_zoom.png') }}">

    <meta name="description"
          content="Yeti Spy is a collection building tool for Eternal players.">

    {% set title = title|default('no title') -%}
    {% set nav_items = [
            (url_for('CardsView:index'), 'fa-clone', 'Cards'),
            (url_for('PurchasesView:index'), 'fa-store', 'Purchases')
        ] -%}

    <nav class="navbar navbar-expand-md navbar-infiltrate navbar-dark">
        <a class="navbar-brand d-inline-block align-top" href="/">
            <img src="{{ url_for('static', filename='images/logo_zoom.png') }}"
                 style="height: 40px; margin-top: -10px">
            Yeti Spy
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#baseNavbar"
                aria-controls="baseNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="baseNavbar">
            <ul class="nav navbar-nav nav-pills mr-auto mt-2 mt-lg-0">
                {% for href, icon, name in nav_items %}
                    <li class="navbar-item">
                        <a href="{{ href }}"
                           class="nav-link text-white
                               {% if name == title %} active{% endif %}">
                            <i class="fas {{ icon }}"></i> {{ name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav nav-pills
                flex-row justify-content-md-center justify-content-start flex-nowrap">
                {% if current_user.is_authenticated %}
                    <li class="navbar-item">
                        <a href="#"
                           class="nav-link text-white"
                           data-toggle="modal"
                           data-target="#updateCollectionModal">
                            <i class="fas fa-redo"></i> Update Collection
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="/logout" class="nav-link">
                            Logout {{ current_user.name }}
                        </a>
                    </li>
                {% else %}
                    <li class="navbar-item">
                        <a href="{{ url_for('LoginView:index') }}"
                           class=" nav-link">
                            Login
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{ url_for('RegisterView:index') }}"
                           class="nav-link">
                            Register
                        </a>
                    </li>
                {% endif %}

            </ul>


        </div>
    </nav>

    <div class="space-t hidden-xs"></div>
{% endblock %}


{% block content %}
    {{ super() }}
    <div id="body-wrapper">
        <div class="container" style="background-color: black; min-height: 600px">
            {% include "update_collection.html" %}
            {% block inner_content %}{% endblock %}
        </div>
    </div>
    <div id="background"
         style="background-image:
                 url({{ url_for('static', filename='images/mischiefyeti.jpg') }});
                 left: 0;
                 top: 0;
                 right: 0;
                 bottom: 0;
                 overflow: hidden;
                 margin: 0;
                 padding: 0;
                 z-index: -100000;
                 position: fixed;
                 filter:  brightness(25%);
                 width: 100%;
                 background-size: cover;"></div>

    <footer>
        <div class="space-t hidden-xs"></div>
        <div class="container-fluid text-sm"
             style="background-color: #111; padding: 2em">
            <div>
                <div class="row" style="min-height: 100px">
                    <div class="col-md-3 offset-md-3">
                        <h3>Contact</h3>
                        <p> Reddit: <b>/u/qazzquimby</b></p>
                        <p>Discord: <b>qazzquimby#0073</b></p>
                    </div>

                    <div class="col-md-5">
                        <h3>Information</h3>
                        <p>This site is not affiliated with Eternal or Dire Wolf
                            Digital.</p>
                        <p>All assets from Eternal are property of Dire Wolf
                            Digital.</p>
                        <p>This site is made possible by
                            <a href="https://eternalwarcry.com/">
                                Eternal Warcry.
                            </a>
                        </p>

                        <a href="https://github.com/Qazzquimby/eternalCardEvaluator">
                            This site is open-source.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='infiltrate.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"
          rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/a8de047042.js"
            crossorigin="anonymous"></script>
    {{ super() }}

{% endblock %}