<div id="card-values" class="pad-t pad-more ">
    <table id="card-value" class="table vertical-align col-md-8">
        {% include 'card_values_table_header.html' %}
        {% for display in card_values %}
            <tr class="row">
                <td class="col-md-4 no-padding">

                    <div class="row equal-height flex-center-vertically">
                        <div class="col-md-3 no-padding">
                            <img class="card-thumb"
                                 src="{{ display.card.image_url }}"
                                 alt="{{ display.card.name }}">
                        </div>
                        <div class="col-md-9">
                            <a class="btn-text text-bold text-lg text-left
                                                     text-{{ display.card.rarity.lower() }}"
                               rel="popover"
                               data-img="{{ display.card.image_url }}"
                               data-name="{{ display.card.name }}"
                               href="{{ display.card.details_url }}">
                                {{ display.card.name }}
                            </a>
                        </div>
                    </div>

                </td>
                <td class="col-md-3 text-center">
                    <div>
                        {{ '%0.2f' % display.value_per_shiftstone }}
                    </div>

                </td>
                <td class="col-md-3 text-center">
                    <div>
                        {{ '%0.2f' % display.value }}
                    </div>
                </td>
                <td class="col-md-1 text-center">
                    {% if display.minimum != display.maximum %}
                        <div>X{{ display.maximum - display.minimum }}</div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>


</div>
