{% extends "base.html" %}

{% block title %} Card Values {% endblock %}

{% block inner_content %}
    {{ super() }}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <div class="row">
        <div class="col-md-2"></div>
        <div id="content-col" class="col-md-8">
            <input id="card-search" type="text" class="form-control"
                   placeholder="Name">
            <div id="card-preview"></div>

            <div id="ownership" style="width:100%">
                <select class="form-control"
                        onchange="ownership=this.value; updateCardTable();">
                    <option value="unowned">Unowned</option>
                    <option value="owned">Owned</option>
                    <option value="all">All</option>
                </select>
            </div>


            <div id="card-table" class="text-center row">
                <div class="space-t"></div>
                {#TODO remove duplication with header of card_values.html#}
                <table id="card-value" class="table vertical-align col-md-8">
                    {% include 'card_values_table_header.html' %}
                </table>
                Loading Values...
            </div>
            <div id="card-table-pagination" class="text-center row">
                <nav aria-label="Card values page">
                    <ul id="pagination" class="pagination">
                        <li class="page-item">
                            <button onclick="page=0; updateCardTable()">
                                First
                            </button>
                        </li>

                        <li class="page-item">
                            <button onclick="page=page-1; updateCardTable()">
                                Previous
                            </button>
                        </li>
                        <li class="pagination-info">
                            <span id="current-page">1</span>
                        </li>
                        <li class="page-item" onclick="page=page+1; updateCardTable()">
                            <button>Next</button>
                        </li>
                        <li class="page-item" onclick="page=-1; updateCardTable()">
                            <button>Last</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let page = 0;
        let sort = "craft";
        let ownership = "unowned";

        function updateCardTable() {
            $.get({
                url: "/card_values/" + page + "/" + sort + "/" + ownership,
            }).done(function (data) {
                $("#card-table").html(data);
                $("#current-page").html(page);
                {#Show card on hover#}
                $('*[rel=popover]').popover({
                    html: true,
                    trigger: 'hover',
                    viewport: '#content-col',
                    content: function () {
                        return '<div class="card-tooltip-image">' +
                            '<img src="' + $(this).data('img') + '" />' +
                            '<div>' + $(this).data("name") + '</div>' +
                            '</div>';
                    }
                });
            }).fail(function (jqxhr, textStatus, error) {
                const err = textStatus + ", " + error;
                console.log("Request Failed: " + err);
                $("#card-table").html("<h1>Something's gone very wrong.</h1>");
            });
        }

        $(document).ready(updateCardTable());

        {#card search#}
        const $card_search = document.querySelector('#card-search');

        let lastSearch = '';
        const cardSearchHandler = function (search) {
            {#search for cards and send to front end.#}
            {#If none found, display: none#}

            const searchStr = search.target.value;
            if (searchStr.length >= 2) {
                if (searchStr.length >= lastSearch.length || !lastSearch.startsWith(searchStr)) {
                    {#console.log("setting searchStr " + searchStr + " over lastSearch " +#}
                    {#    lastSearch);#}
                    lastSearch = searchStr;
                    setTimeout(
                        function () {
                            if (searchStr.length >= lastSearch.length || !lastSearch.startsWith(searchStr)) {
                                {#console.log("running " + searchStr);#}
                                $.get({
                                    url: "/card_search/" + "_" + searchStr,
                                    {#    todo fix this gross url thing. The _ is prepended because empty str breaks.#}
                                }).done(function (data) {
                                    if (searchStr.length >= lastSearch.length || !lastSearch
                                        .startsWith(searchStr)) {
                                        {#console.log("using " + searchStr + " lastSearch " + lastSearch);#}

                                        $("#card-preview").html(data);
                                    }
                                }).fail(function (jqxhr, textStatus, error) {
                                    $("#card-preview").html("<h1>Something's gone very wrong.</h1>");
                                    const err = textStatus + ", " + error;
                                    console.log("Request Failed: " + err);
                                });
                            }
                        }, 200);
                }


            }
        };

        $card_search.addEventListener('input', cardSearchHandler); // register for oninput


    </script>

{% endblock %}