<div class="text-center">
    <div style="min-height: 100px"></div>
    <div style="min-height: 50px">
        Calculating...
    </div>
    <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div style="min-height: 100px"></div>
    <div style="min-height: 50px">
        <em>Keep your collection up-to-date for accurate recommendations.</em>
    </div>
</div>