{% if not current_user.is_authenticated %}
    <div class="alert alert-danger" role="alert">
        <h4>These recommendations aren't tuned to your collection yet.</h4>
        <p>
            <a class="alert-link" href="{{ url_for('LoginView:index') }}">
                Log in
            </a>
            or
            <a class="alert-link" href="{{ url_for('RegisterView:index') }}">
                Register
            </a>
            for recommendations based on your collection.
        </p>

        <a class="alert-link"
           href="{{ url_for('FaqView:index') }}#yeti-spy">What even is this website?</a>
    </div>
{% endif %}