body {
    background: #000000;
    color: #dddddd;
}

h1, h2, h3, h4, h5 {
    color: #ccc;
}

hr {
    background: #adadad linear-gradient(to right, #adadad, #fff, #adadad);
    border: 0;
    height: 1px;
}

a {
    color: #fdb501;
}

a:hover, a:focus, a:active {
    color: #d79900;
}

.deck-listing-info a {
    color: #c7c7c7;
}

.top-card-count {
    color: #ffffff !important;
}

.text-common {
    color: #888888;
}

.text-uncommon {
    color: #2dae08;
}

.heading {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d3d3d+0,000000+100 */
    background: rgb(61, 61, 61); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(61, 61, 61, 1) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(61, 61, 61, 1) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(61, 61, 61, 1) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-left: 5px solid #4183de;
    color: #555;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

.heading-sub {
    background: #5e5e5e;
    border-left: 5px solid #455975;
    color: #cacaca;
}

.form-control {
    background-color: #444 !important;
    border-color: #888 !important;
    border-radius: 0;
    color: #fff !important;
}

.br-theme-eternal .br-widget a {
    background-color: #605f5c !important;
}

.br-theme-eternal .br-widget a.br-active,
.br-theme-eternal .br-widget a.br-selected {
    background-color: #e8a70e !important;
}

.decklist-home {
    border-color: #444;
}

.decklist-home .decklist-home-top {

    border-bottom: 1px solid #000000;
    color: #d4d4d4;
}


.bg-ccc {
    background: #272727;
}


#body-wrapper .container, #body-wrapper .container-fluid {
    background-color: #101010;
}

#search-cards {
    background-color: #101010;
}


.thumbnail {
    background: #151f3b;
    border-color: #526f9d;
}

.panel {
    background-color: #272727;
    color: #ffffff;
}

.panel-default {
    border-color: #5f5f5f;
}

.panel-default > .panel-heading {
    background-color: #171717;
    color: #ffffff;
}

.panel-footer {
    background-color: #000000;
    border-top: 1px solid #484848;
}

.well {
    background-color: #080808;
    border-color: #3d3d3d;
}

.btn-link {
    color: #fdb501;
}

.btn-link:hover {
    color: #ffdf90;
}


.btn-default {
    background-color: #373737;
    border-color: #747474;
    color: #ffffff;
}

.pagination > li > a, .pagination > li > span {
    background-color: #2a2a2a;
    border-color: #808080;
    color: #eeeeee;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #fdb501;
    border-color: #808080;
    color: #000000;
}

.table-bordered {
    border-color: #4a4a4a;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-color: #4a4a4a;
}

.modal-content {
    background: #656565;
    border-color: #979797;
}


.list-group-item {
    background-color: #4d4d4d;
    border-color: #111111;
    color: #cccccc;
}

a.list-group-item {
    color: #cccccc;
}


.card-value-image img {
    max-width: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .row.equal-height {
        display: flex;
        flex-wrap: wrap;
    }
}

.flex-center-vertically > * {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text-lg {
    font-size: 2.00em;
}

.text-bold {
    font-weight: bold;
}


.text-common, .text-common:focus, .text-common:hover {
    color: #333
}

.text-uncommon, .text-uncommon:focus, .text-uncommon:hover {
    color: #1d6e06
}

.text-rare, .text-rare:focus, .text-rare:hover {
    color: #4a89e5
}

.text-promo, .text-promo:focus, .text-promo:hover {
    color: #7718c1
}

.text-legendary, .text-legendary:focus, .text-legendary:hover {
    color: #ff951a
}

.card-tooltip-image {
    max-width: 300px;
    position: absolute;
    width: 300px;
    z-index: 9999;
}

.card-tooltip-image div {
    color: #fff;
    font-weight: bold;
    margin-top: -5px;
    text-align: center;
    text-shadow: #000 2px 0 0, #000 1.75px .966667px 0, #000 1.08333px 1.68333px 0, #000 .133333px 2px 0, #000 -.833333px 1.81667px 0, #000 -1.6px 1.2px 0, #000 -1.98333px .283333px 0, #000 -1.86667px -.7px 0, #000 -1.3px -1.51667px 0, #000 -.416667px -1.95px 0, #000 .566667px -1.91667px 0, #000 1.41667px -1.41667px 0, #000 1.91667px -.566667px 0;
}

.card-tooltip-image img {
    max-width: 100%
}

.btn-text {
    white-space: normal;
!important;
}

.popover {
    background-color: transparent;
!important
    /*display: none !important*/
}

.popover .arrow {
    visibility: hidden;
}

.navbar-infiltrate a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px 15px;
}

a.navbar-brand {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    white-space: nowrap;
    width: auto;
}

.navbar-infiltrate {
    background-color: #1a4979;
    border-color: #0d202f;
    position: relative;
}

a:hover, a:focus, a:active {
    color: #8ca2ff;
}

.navbar-infiltrate .nav > li > a:hover, .navbar-infiltrate .nav > li > a:focus {
    background: rgba(0, 52, 135, 0.84);
}

.space-t {
    margin-top: 10px;
    padding-top: 10px;
}

#body-wrapper .container, #body-wrapper .container-fluid {
    background-color: #101010;
    border: 1px solid #393939;
    padding-bottom: 25px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.no-padding {
    padding: 0;
}

table.vertical-align > tbody > tr > td {
    vertical-align: middle;
}

.page-item > *:hover {
    background-color: #fdb501 !important;
    border-color: #808080;
    color: #000000;
}


.pagination > li > button, .pagination > li > span {
    background-color: #2a2a2a;
    border: 1px solid #808080;
    color: #eeeeee;
    float: left;
    line-height: 1.42857143;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination-sm > li > button, .pagination-sm > li > span {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}

.card-thumb {
    width: 100%;
}

