{% extends "base.html" %}

{% set title = "Cards" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block inner_content %}
    {{ super() }}

    <div id="content-col">
        <div class="text-center ">
            <h1 class="display-4">{{ title }}</h1>
        </div>

        {% include "not_signed_in_helper.html" %}

        <div class="row">
            <div class="col-md-6 col-11 offset-md-3 p-0">
                <select class="form-control form-control-lg"
                        style="height:70px; font-size: 2.5rem"
                        onchange="sort=this.value; updateCardTable();">
                    <option value="efficiency">Craft Efficiency</option>
                    <option value="value">Popularity</option>
                </select>
            </div>
            <a id="info-link">
                <i class="col-1 fas fa-info-circle fa-lg pl-1"
                   style="padding-top: 28px"></i>
            </a>
        </div>

        <div class="row">
            <input id="card-search" type="text"
                   class="form-control mt-3 col-md-6 offset-md-3"
                   placeholder="Search for a card">
            <div id="card-preview" class="container" style="display: none"></div>
        </div>

        <div id="card-table">
            <div class="space-t"></div>
            {% include 'loading.html' %}
        </div>

        <div id="card-table-pagination" class="text-center mt-3">
            <nav aria-label="Card values page">
                <ul id="pagination" class="pagination justify-content-center">
                    <li class="page-item">
                        <button onclick="page=0; updateCardTable()">
                            First
                        </button>
                    </li>

                    <li class="page-item">
                        <button onclick="page=page-1; updateCardTable()">
                            Previous
                        </button>
                    </li>
                    <li class="pagination-info">
                        <span id="current-page">1</span>
                    </li>
                    <li class="page-item"
                        onclick="page=page+1; updateCardTable()">
                        <button>Next</button>
                    </li>
                    <li class="page-item"
                        onclick="page=-1; updateCardTable()">
                        <button>Last</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let page = 0;
        let sort = "efficiency";
        let ownership = "unowned";

        function updateCardTable() {
            document.getElementById("info-link")
                .setAttribute("href", {{ url_for("FaqView:index") }}+"#" + sort)
            $.get({
                url: "/card_values/" + page + "/" + sort + "/" + ownership,
            }).done(function (data) {
                $("#card-table").html(data);
                $("#current-page").html(page + 1);
                {#Show card on hover#}
                $('*[rel=popover]').popover({
                        html: true,
                        trigger: 'hover',
                        viewport: '#content-col',
                        content: function () {
                            return '<div class="card-tooltip-image">' +
                                '<img src="' + $(this).data('img') + '" />' +
                                '<div>' + $(this).data("name") + '</div>' +
                                '</div>';
                        }
                    }
                );
            }).fail(function (jqxhr, textStatus, error) {
                const err = jqxhr.status + ", " + textStatus + ", " + error;
                console.log("Request Failed: " + err);
                if (jqxhr.status === 401) {
                    window.location.replace("/login");
                } else {
                    $("#card-table").html("<h1>Something's gone wrong.</h1>" +
                        "<p>Please tell qazzquimby#0073 on discord.</p>");
                }
            });
        }

        $(document).ready(updateCardTable());

        {#card search#}
        const $card_search = document.querySelector('#card-search');

        let lastSearch = '';
        const cardSearchHandler = function (search) {
            {#search for cards and send to front end.#}
            {#If none found, display: none#}

            const searchStr = search.target.value;
            if (searchStr.length >= 2) {
                if (searchStr.length >= lastSearch.length || !lastSearch.startsWith(searchStr)) {
                    {#console.log("setting searchStr " + searchStr + " over lastSearch " +#}
                    {#    lastSearch);#}
                    lastSearch = searchStr;
                    setTimeout(
                        function () {
                            if (searchStr.length >= lastSearch.length || !lastSearch.startsWith(searchStr)) {
                                {#console.log("running " + searchStr);#}
                                $.get({
                                    url: "/card_search/" + "_" + searchStr + "/" + sort + "/" + ownership,
                                    {#    todo low prio fix this gross url thing. The _ is prepended because empty str breaks.#}
                                }).done(function (data) {
                                    if (searchStr.length >= lastSearch.length || !lastSearch
                                        .startsWith(searchStr)) {
                                        {#console.log("using " + searchStr + " lastSearch " + lastSearch);#}

                                        $("#card-preview").html(data);
                                        $("#card-preview").css("display", "block")
                                    }
                                }).fail(function (jqxhr, textStatus, error) {
                                    $("#card-preview").html("<h1>Something's gone wrong.</h1>");
                                    const err = textStatus + ", " + error;
                                    console.log("Request Failed: " + err);
                                });
                            }
                        }, 200);
                }


            }
        };

        $card_search.addEventListener('input', cardSearchHandler); // register for oninput


    </script>

{% endblock %}