<div id="card-values" class="pad-t pad-more">
    <div id="card-value">
        {% if card_values.empty %}
            <h> No cards found.</h>
        {% endif %}
        <div class="row">
            {% for i, display in card_values.iterrows() %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">

                    <div class="mt-4">
                        {% set ns = namespace(minimum = 0, maximum = 0) %}
                        {% if display['count_in_deck_min'] != display['count_in_deck_max'] %}
                            {% set ns.minimum = display['count_in_deck_min'] %}
                        {% else %}
                            {% set ns.minimum = display['count_in_deck_max'] %}
                        {% endif %}
                        {% set ns.maximum = display['count_in_deck_max'] %}

                        {% for owned in range(1, ns.minimum) %}
                            <img src="../static/images/owned.png"
                                 style="margin-right: -5px"/>
                        {% endfor %}
                        {% for owned in range(ns.minimum, ns.maximum+1) %}
                            <img src="../static/images/current.png"
                                 style="margin-right: -5px"/>
                        {% endfor %}
                        {% for owned in range(ns.maximum, 4) %}
                            <img src="../static/images/unowned.png"
                                 style="margin-right: -5px"/>
                        {% endfor %}
                    </div>

                    <img class="img-fluid"
                         src="{{ display['image_url'] }}"
                         alt="{{ display['name'] }}"
                         style="margin-top: -15px">

                    <h4 class="mb-0">#{{ i+1 }}</h4>

                    {% if sort == "efficiency" %}
                        {% set display_var = display['play_craft_efficiency_max']*100 %}
                    {% elif sort == "value" %}
                        {% set display_var = display['play_value_max'] %}
                    {% endif %}
                    {% set score_out_of_11 = (display_var*11 / 100) | int %}
                    {% set half_stars = [score_out_of_11 | int, 10 ] | min %}
                    {% set full_stars = (half_stars / 2) | int %}

                    {{ '%0.0f' % display_var }}
                    <span class="align-middle" style="color:orange">

                        {% for _ in range(full_stars) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% if half_stars is odd %}
                            <i class="fas fa-star-half"></i>
                        {% endif %}
                    </span>
                                    </div>
            {% endfor %}
        </div>
    </div>
</div>
