<div id="card-values" class="pad-t pad-more">
    <div id="card-value">
        {% if card_values.empty %}
            <h> No cards found.</h>
        {% endif %}
        <div class="row">
            {% for i, display in card_values.iterrows() %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">

                    <div class="mt-4" style="min-width: 120px">
                        {% set ns = namespace(minimum = 0, maximum = 0) %}
                        {% for owned in range(1, display['count_in_deck']) %}
                            <img src="../static/images/owned.png"
                                 style="margin-right: -5px"/>
                        {% endfor %}
                        {% for owned in range(1) %}
                            <img src="../static/images/current.png"
                                 style="margin-right: -5px"/>
                        {% endfor %}
                        {% for owned in range(display['count_in_deck'], 4) %}
                            <img src="../static/images/unowned.png"
                                 style="margin-right: -5px"/>
                        {% endfor %}
                    </div>

                    <img class="img-fluid"
                         src="{{ display['image_url'] }}"
                         alt="{{ display['name'] }}"
                         style="margin-top: -15px">

                    <h4 class="mb-0">#{{ page*cards_per_page + loop.index }}</h4>

                    {% if sort == "efficiency" %}
                        {% set display_var = display['play_craft_efficiency']*100 %}
                        {% set stars_var = display['scaled_play_craft_efficiency'] %}
                    {% elif sort == "value" %}
                        {% set display_var = display['play_value'] %}
                        {% set stars_var = display['play_value'] %}
                    {% endif %}
                    {% set score_out_of_11 = (stars_var*11 / 100) | int %}
                    {% set half_stars = [score_out_of_11 | int, 10 ] | min %}
                    {% set full_stars = (half_stars / 2) | int %}

                    {{ '%0.0f' % display_var }}
                    <span class="align-middle" style="color:orange">

                        {% for _ in range(full_stars) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% if half_stars is odd %}
                            <i class="fas fa-star-half"></i>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
